
.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 90px;
    background-color: white;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.sidebar .sidebar-links{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.sidebar img {
    width: 35px;
}


.sidebar div {
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
}